.info-card {
    display: flex;
    flex-direction: row;
    margin: 15px;
    border: 2px solid #929292;
    border-radius: 20px;
}

.info-card img {
    margin-right: 12px;
    height: 100%;
    width: 320px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}