@font-face {
    font-family: 'Comfortaa';
    src: url('../../fonts/comfortaa.ttf');
    font-display: swap;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 9.5vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #bed6e6;
    background-color: #573c9a;
    /* #9a3c3c,#2c3e50 */
    box-shadow: -2.5px 2px 20px #000000;
    width: 100vw;
}

.navbar a {
    color: #bed6e6;
}

.navbar h1 {
    color: #bed6e6;
}

.child-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5px;
    font-size: 8.25vw;
}

.center-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 3.35vw;
    font-family: Comfortaa;
    font-weight: 700;
    margin-left: 5px;
}

.child-two {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 10.15vw;
    margin-right: 5px;
    justify-self: end;
}

.child-two span {
    margin-left: 3.75vw;
}